header{
    position: relative;
    }
.navbar-toggler{
    position: absolute;
    right: 5px;
    top: 20px;
    border: 1px solid $color-iconos;
    color: rgba(255, 255, 255, 0);
    }
    .fa-solid{
    color: $color-iconos;
    }
    .nav-link{
    color: $color-iconos;
    margin-left: 20px;
    }
    .nav-link:hover{
    color: rgba(9, 207, 246, 0.57);
    }
    .logoEdu{
    width: 20vh;
    position: absolute;
    margin-left: 20px;
    }

    @media (max-width: 992px){
        header{
            position: relative;
            margin: 0;
        }
        .logoEdu{
            width: 30%;
            position: absolute;
            left: 30%;
        }
    }