/*desde aqui se modifica la pagina equipos*/
.contenedorTabla{
    @include display-flex-tablas(row,center,center);
    margin-bottom: 100px;
        .equiposTabla{
        border: 1px solid rgba(255, 255, 255, 0);
        margin: 50px;
        width: 100vh;
        height: 50vh;
        box-shadow: 2px 2px 8px 4px $color-sombra;
            .tablaExterior{
            border: 1px solid rgba(255, 254, 254, 0);
            margin: 50px;
            box-shadow: 2px 2px 8px 4px $color-sombra;
                .tablaInterior{
                border: 1px solid rgba(255, 254, 254, 0);
                margin: 50px;
                text-decoration: none;
                list-style: none;
                box-shadow: 2px 2px 8px 4px $color-sombra;
                    .estiloTexto{
                    text-decoration: none;
                    list-style: none;
                    color: $color-parrafo;
                        &:hover{
                        text-decoration: none;
                        list-style: none;
                        color: $color-sombra;
                        }
                    }
                }
                .fondoTabla1{
                    &:hover{
                    background-image: url(../assets/img/stream\ deck.png);
                    background-size: cover;
                    background-position: 50%;
                    margin: 0 auto;
                    }
                }
                .fondoTabla2{
                    &:hover{
                    background-image: url(../assets/img/Notebook\ Msi\ GF65\ THIN.png);
                    background-size: cover;
                    background-position: 50%;
                    }
                }
                .fondoTabla3{
                    &:hover{
                    background-image: url(../assets/img/Monitor\ Msi\ Optix\ G273.png);
                    background-size: cover;
                    background-position: 50%;
                    }
                }
                .fondoTabla4{
                    &:hover{
                    background-image: url(../assets/img/Camara\ StreamCam.png);
                    background-size: cover;
                    background-position: 50%;
                    }
                }
                .fondoTabla5{
                    &:hover{
                    background-image: url(../assets/img/Micrófono\ Seiren\ Mini.png);
                    background-size: cover;
                    background-position: 50%;
                    }
                }
                .fondoTabla6{
                    &:hover{
                    background-image: url(../assets/img/Capturadora\ HD60S+.png);
                    background-size: cover;
                    background-position: 50%;
                    }
                }
                .fondoTabla7{
                    &:hover{
                    background-image: url(../assets/img/Auriculares\ Razer\ Kraken.png);
                    background-size: cover;
                    background-position: 50%;
                    }
                }
                .fondoTabla8{
                    &:hover{
                    background-image: url(../assets/img/Mouse\ Logitech\ G\ Pro\ Hero.png);
                    background-size: cover;
                    background-position: 50%;
                    }
                }
                .fondoTabla9{
                    &:hover{
                    background-image: url(../assets/img/Teclado\ Marvo.png);
                    background-size: cover;
                    background-position: 50%;
                    }
                }
            }
        }
    }