/*desde aqui se modifica la pagina equipos*/
.contenedorTabla{
    @include display-flex-tablas(row,center,center);
    margin-bottom: 100px;
        .equiposTabla{
        border: 1px solid rgba(255, 255, 255, 0);
        margin: 50px;
        width: 100vh;
        height: 50vh;
        box-shadow: 2px 2px 8px 4px $color-sombra;
            .tablaExterior{
            border: 1px solid rgba(255, 254, 254, 0);
            margin: 50px;
            box-shadow: 2px 2px 8px 4px $color-sombra;
                .tablaInterior{
                border: 1px solid rgba(255, 254, 254, 0);
                margin: 50px;
                text-decoration: none;
                list-style: none;
                box-shadow: 2px 2px 8px 4px $color-sombra;
                    .estiloTexto{
                    text-decoration: none;
                    list-style: none;
                    color: $color-parrafo;
                        &:hover{
                        text-decoration: none;
                        list-style: none;
                        color: $color-sombra;
                        }
                    }
                }
            }
        }
    }