/*aqui se modifica la pagina contacto*/
.botonEnviar{
    color: $color-terceario;
    background-color: $color-sombra;
    border-color: $color-sombra;
}
.espacioBoton{
    margin-bottom: 150px;
    padding-left: 50px;
}
.form-control{
    height: 25vh;
}
.formularioContancto{
    padding-right: 50px;
}