@mixin display-flex-tablas($direction,$justify,$text){
    display: flex;
    flex-wrap: nowrap;
    flex-direction: $direction;
    justify-content: $justify;
    text-align: $text;
}

@mixin display-flex-principal($direction,$justify,){
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aliniacion;
    align-content: $aliniacion;
}