@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Neonderthaw&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
main{
    margin-top: 10vh;
    }
    .tituloSecundarioJuegos{
        font-family: $tipografia-principal;
        font-size: $font-size-mediano;
        color: $color-titulo-secundario;
        text-shadow: 2px 1px 5px $color-sombra;
        text-align: $justificacion-texto;
    }
    .parrafoPortadaJuegos{
        font-size: $font-size-small;
        color: $color-parrafo;
        text-align: $justificacion-texto;
        margin: 0;
        text-shadow: 2px 1px 5px $color-sombra;
        font-family: $tipografia-principal ;
    }

    @media (max-width: 992px){
        main{
            margin-top:17%;
            text-align: $justificacion-texto;
            padding: 30px;
        }
        .tituloSecundarioJuegos{
            font-family: $tipografia-principal;
            font-size: 1.5rem;
            color: $color-titulo-secundario;
            text-shadow: 2px 1px 5px $color-sombra;
            text-align: $justificacion-texto;
        }
        .parrafoPortadaJuegos{
            font-size: $font-sizemovil-small;
            color: $color-parrafo;
            text-align: $justificacion-texto;
            margin: 0;
            padding: 0;
        }
    }