$color-primario: rgb(0, 39, 61);
$color-secundario: #000000;
$color-terceario: rgb(255, 255, 255);
$color-iconos: rgb(255, 255, 255);
$color-titulo-principal: rgb(255, 255, 255);
$color-titulo-secundario: rgb(0, 0, 0);
$color-parrafo: rgb(255, 255, 255);
$color-footer: rgb(0, 0, 0);
$color-sombra: rgba(9, 207, 246, 0.57);

$font-size-grande: 10rem;
$font-size-mediano: 5rem;
$font-size-small: 1.3rem;

$font-sizemovil-grande: 5rem;
$font-sizemovil-mediano: 3rem;
$font-sizemovil-small: 1.3rem;

$justificacion-texto: center;
$aliniacion: center;

$tipografia-principal: 'Bebas Neue',cursive;
$tipografia-secundaria: 'Roboto', sans-serif;